body {
    background-color: rgba(11, 0, 75); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: rgba(159, 143, 248, 0.75);
    text-align: center;
    font-family: 'Staatliches', cursive;
}
.wrapper {
    
}
.square {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: -3px;
}
.swordsman {
    background-image: url(../images/swordsman-01.png);
    background-size: 100% 100%;
    z-index: 1;
}
.swordsman-gif {
    background-image: url(../images/swordsman01.gif);
    background-size: 100% 100%;
    z-index: 1;
}
.archer {
    background: url(../images/archer-01.png);
    background-size: 100% 100%;
    z-index: 1;
}
.archer-gif {
    background: url(../images/archer01.gif);
    background-size: 100% 100%;
    z-index: 1;
}

.defender {
    background: url(../images/defender-01.png);
    background-size: 100% 100%;
}

.computer {
    background: blue;
}
.demon {
    background: url(../images/demon-01.png);
    background-size: cover;
    
}
.boss {
    background: url('../images/fat-demon-01.jpg');
    background-size: cover;
}
.tower {
    background: url('../images/brick-purple.png');
    background-size: 100% 100%;
    border: solid 5px rgba(11, 0, 75);
    background-size: 100% 100%;
    z-index: -2;
}
.upgrade {
    display: inline-block;
    
}
.progress {
    height: 50px;
    opacity: .75;
}
.research-bar {
    width: 0;
    font-size: 18px;
    color: black;
    text-align: center;
}
#arrow{
    display: inline-block;
    position: absolute;
    width: 15px;
    opacity: 0;
}
.stats-bar {
    color: red;
}
.data-bar{
    background: rgba(156, 250, 250, .75);
    color: rgba(11, 0, 75,.75);
}
.dropdown-toggle{
    background: rgba(11, 0, 75,.75);
}
.dropdown-toggle:hover{
    background: rgba(40, 6, 231, 0.75);
}
.title {
    font-size: 50px;
    color: rgba(11, 0, 75,.75);
    font-family: 'Staatliches', cursive;
}

