.square {
    background: black;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 3px;
}

.fighter {
    background: red;
}
.enemy {
    background: blue;
}

.tower {
    background: brown;
}