.square {
    
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-top: -3px;
}
.wrapper {
    background: grey;
}
.swordsman {
    background-image: url(../images/swordsman-01.png);
    background-size: 100% 100%;
    z-index: 1;
}
.swordsman-gif {
    background-image: url(../images/swordsman01.gif);
    background-size: 100% 100%;
    z-index: 1;
}
.archer {
    background: url(../images/archer-01.png);
    background-size: 100% 100%;
    z-index: 1;
}
.archer-gif {
    background: url(../images/archer01.gif);
    background-size: 100% 100%;
    z-index: 1;
}

.defender {
    background: url(../images/defender-01.png);
    background-size: 100% 100%;
}

.computer {
    background: blue;
}



.demon {
    background: url(../images/demon-01.png);
    background-size: cover;
    
}
.tower {
    background: url(../images/brick01.jpg);
    background-size: 100% 100%;
    z-index: -2;
}
.upgrade {
    display: inline-block;
    
}
.research-bar {
    width: 0;
}
#arrow{
    display: inline-block;
    position: absolute;
    width: 15px;
    opacity: 0;
}
